/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.fa fa-heart {
  width: 30px;
  height: 30px;
}

.indexImage {
  height:200px;
  width: 200px;
  margin: 3px;
}


html {
  margin: 0;
  padding: 0;

}
footer {
  color: white;
  background: black;
}


#mainContent {
  margin: 0 50px 0 50px 0;
  max-width: 1300px;
  margin: 0 auto;
}

header h1 {
    font-size: 50px;
    padding: 5px;
    vertical-align: middle;
    background: black;
    color: white;
    margin: 0;
    padding-top: 20px;
}


@import url(http://fonts.googleapis.com/css?family=Varela+Round);
body{
  zoom:1;
}
.nav-list{
  list-style:none; 
  padding: 0;
}

.nav-list a{
  text-decoration:none;
  transition:color 0.3s ease-out;
  color:inherit;
}

.nav-list li{
  position:relative;
  display:inline-block;
  margin:5px;
  letter-spacing:-1px;
  width: 100px;
}


.download:after, 
.download:before,
.download a:after, 
.download a:before{
  background-color:#CEDD3E;
}

.download:hover{
  color:#CEDD3E
}

.features:after, 
.features:before,
.features a:after, 
.features a:before{
  background-color:#F27132;
}

.features:hover{
  color:#F27132;
}

.method:after, 
.method:before,
.method a:after, 
.method a:before{
  background-color:#85C3E9;
}

.method:hover{
  color:#85C3E9;
}

.purchase:after, 
.purchase:before,
.purchase a:after, 
.purchase a:before{
  background-color:#FDBE2A;
}

.purchase:hover{
  color:#FDBE2A;
}

.nav-list li:after, 
.nav-list li:before, 
.nav-list  a:before, 
.nav-list  a:after{
  position:absolute;
  content:'';
  border-radius:4px;
}

.nav-list li:after,
.nav-list li:before{
  bottom:-4px;
  height:4px;
}

.nav-list li:not(.selected):before{
  left:0;
  right:-2px;
}

.nav-list li.selected:after{
  left:0;
  right:39px; 
}

.nav-list li.selected:before{
  right:-2px;
  width:13px;
}


.nav-list .selected a:before{
  height:22px;
  width:4px;
  bottom:-22px;
  right:7px;
}

.nav-list .selected a:after{
  height:4px;
  width:40px;
  bottom:-13px;
  right:5px;
  transform:rotate(30deg);
}

/* Booring stuff*/

body{
  font-family: 'Varela Round', sans-serif;
}

.wrapper{

  margin:0 auto;
}

h1{
  /*text-align:center;*/
  padding-bottom:.5em;
}

footer{
  margin-top:5em;
  float:right;
  font-size:.7em;  
  margin: 0 50px 0 50px 0;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  padding: 5px;

}


footer a{
  color:#79B1D4;
  text-decoration:none;
}

footer a:hover{
  border-bottom:1px solid black;
}

.red{
  color:#F27132;
}