#showMap {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#images{
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 800px;
}

#contentContainer {
  display: block;
  margin: 0 auto;
  padding: 0 20px 0 20px;

}


#places {
  color: white;
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 5px 20px 5px 20px;
  padding: 5px;
  background: black;
  border: solid black 1px;
}

.imgThumb {
  display: inline-block;
  margin: 3px;
}

img {
  display: inline-block;
  height: 140px;
  width: 140px;
}