

#showMap {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#images{
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 800px;
}

#contentContainer {
  display: block;
  margin: 0 auto;
  padding: 0 20px 0 20px;

}
#contentContainer h1{
background: none;
color: black;
padding: 0px;
}

#footer_text {
  margin-left: 10px;
}

.new_place_show {
  display: inline-block;
  width: 275px;
  background: black;
  margin: 5px;
  padding: 5px;
}
.new_place_show a {
  color: white;
}

.place_form {
  margin-top: 20px;
}


#places {
  color: white;
  width: 210px;
  height: 240px;
  display: inline-block;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: black;
  border: solid black 1px;
  border-radius: 5px;
}
#places h3 {
  margin: 0 0 5px 0;
}

#places a {
  padding: 0;
  color: white;
  text-decoration: none;
  margin: 0;
}

.imgThumb {
  display: inline-block;
  margin: 3px;
}

.imgThumb img {
  display: inline-block;
  height: 140px;
  width: 140px;
}